.fadeEnter {
  opacity: 0.25;
  z-index: 1;
}

.fadeEnter.fadeEnterActive {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.loadingFadeEnter {
  position: relative;
  bottom: -800px;
  opacity: 0;
  z-index: 1;
}

.loadingFadeEnter.loadingFadeEnterActive {
  bottom: 0px;
  opacity: 1;
  transition: bottom 700ms ease-in-out, opacity 800ms ease-in-out;
}
